.homebtn{
    background-color: #0d6efd;
    color: white;
    width: 220px;
    border-radius: 20px;
    border: none;
    padding: 8px 31px;
    transition: box-shadow .25s ease,transform .25s ease;
}

.homebtn > i{
    color: white;
    float: right;
    font-size: 24px;
}

.homebtn:hover{
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    transform: translate3d(0,-3px,0);
}