.main {
  margin-left: 260px; /* Same as the width of the sidenav */
}

@media screen and (max-width: 820px) {
  .main {
    margin-left: 0px;
  }
}

/* html ::selection{
  background-color: rgb(237, 194, 248);
} */
